p {
    text-align: justify;
    font-size: 16px;
}
.tedxblack {
    font-family: Helvetica;
    font-size: 40px;
}
.tedxredcolor {
    color: #ff2b06;
    font-weight: bold;
}

.tedxred {
    color: #ff2b06;
    font-family: Helvetica;
    font-size: 40px;
    font-weight: bold;
}

.tedxx {
    color: #ff2b06;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    vertical-align: 13px;
}